%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .logo
      .title Hospital
  %nav
    %ul.nav.navbar-nav.navbar-right.links-colour
      %li= link_to 'Home',root_path, class:"colour"
      %li= link_to 'Login','#' ,class:"colour"
      %li= link_to 'About',"#", class:"colour"
