%nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .logo
    .title Hospital Appointment System
  %nav
    %ul.nav.navbar-nav.navbar-right.links-colour.rtop
      %li= link_to 'Home',root_path, class:"link-color"
      %li= link_to 'About',"#", class:"link-color"
